<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/Views/inc/style.css">
    <title>Create project</title>
</head>
<body>

    <div class="header">
        <a class="header_item" href="/Projects">
            Projects
        </a>
    </div>

    <form class="edit_form" action="#" method="post">
        <h1>
            Edit Project
        </h1>
        <div class="edit_item_wrapper">
            <label class="edit_item_label" for="Name">Name:</label>
            <input class="edit_item edit_item_value" type="text" name="Name">
        </div>

        <div class="edit_item_wrapper">
            <label class="edit_item_label" for="Description">Description:</label>
            <textarea class="edit_item edit_item_value edit_item_textarea" name="Description"></textarea>
        </div>

        <div class="edit_item_wrapper">
            <label class="edit_item_label" for="Link">Link:</label>
            <input class="edit_item edit_item_value" type="text" name="Link">
        </div>

        <div class="edit_item_wrapper">
            <label class="edit_item_label" for="Image">Image:</label>
            <input class="edit_item edit_item_value" type="file" name="Image">
        </div>

        <div class="edit_item_wrapper">
            <label class="edit_item_label" for="Visible">Visible:</label>
            <input type="checkbox" name="Visible">
        </div>

        <div class="edit_item_wrapper edit_form_submit edit_form_submit_wrapper">
            <input class="edit_item_value submit_button edit_form_sumbit_button" type="submit" value="Submit" onclick="SubmitForm()">
        </div>

    </form>

    <script>
        function SubmitForm()
        {
            var PostUrl = "/Api/Projects/Create.php";
            var FormData = $('form').serializeArray();

            var PostData = {}
            for (let index = 0; index < FormData.length; index++) {
                const element = FormData[index];
                
                PostData[element.name] = element.value;
            }

            $.post(PostUrl, PostData, function(Data, Status)
            {
                var ReturnData = JSON.parse(Data);
                if (!ReturnData.Result) {
                    //ToDo: Failed to add message
                }
                else {
                    window.location.replace();
                }
            })
        }
    </script>
</body>
</html>