:root {
    --mainColor: #125fc7;
    --mainColorHover: #1755a7;
    --mainColorSelected: rgb(32, 79, 141);

    --secondaryColor: rgb(99, 99, 99);
    
    --tertiaryColor: rgb(150, 112, 160);

    --headerTextColor: #eeeeee;
    --headerTextColorHover: #ffffff;
    --fontFamily: Arial, Helvetica, sans-serif;

    --hoverProjectIncrease: 1.1;

    font-family: var(--fontFamily);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header {
    background-color: var(--mainColor);
    margin: 0;
    padding: 0;
    padding-left: 1%;
    height: 5%;
    width: auto;
    vertical-align: middle;
    
    display: flex;
    align-items: center;
    justify-content: left;
}

.header_item {
    margin: 0;
    margin-left: 0.5%;
    margin-right: 0.5%;

    font-size: 100%;
    font-weight: bold;

    color: var(--headerTextColor);
    text-decoration: none;
}

.header_item:hover {
    color: var(--headerTextColorHover);
    text-decoration: underline;
}

.project_container {
    flex-wrap: wrap;

    text-align: center;

    margin-top: 5%;
    padding: 1%;

    height: auto;
    width: 100%;
}

.project {
    display: inline-block;
    
    width: 30%;
    height: auto;
    transition: all .2s ease-in-out;

    margin-bottom: 2%;
    
    text-decoration: none;
}

.project:hover {
    transform: scale(var(--hoverProjectIncrease));
    text-decoration: underline;
}

.project_image_large {
    aspect-ratio: 1/1;
    height: auto;
    width: 80%;

    border-radius: 20%;
}

.project_image_medium {
    aspect-ratio: 1/1;
    height: auto;
    width: 50%;

    border-radius: 20%;
}

.project_link {
    display: block;

    font-weight: bold;

    margin-top: 2%;
}

.project_name {

    text-decoration: none;
    
    display: block;
    font-size: 150%;
    font-weight: bolder;
    
    color: black;
    
    width: 100%;
}

.project_name_large {

    text-decoration: none;
    
    display: block;
    font-weight: bold;
    
    color: black;
    
    width: auto;
    margin-top: 0;
}

.project_info {
    margin: 0;
    margin-top: 5%;
    margin-bottom: 3%;

    text-align: center;
    display: flex;

    align-items: center;
}

.project_info_name_and_image {
    width: 40%;

    margin: 0;
}

.project_description {
    display: inline-block;

    width: 50%;
    height: auto;

    padding: 1%;
    border-radius: 1em;

    background-color: var(--secondaryColor);
    color: var(--headerTextColor);

    text-align: left;
    white-space: pre-line;
}

.project_updates_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_updates_container{
    display: block;

    width: 85%;
    height: auto;
}

.update_name {
    width: 25%;
}

.update_version {
    width: 10%;
}

.update_description {
    display: inline-block;

    padding: 1.5%;
}

.update_description_label {
    display: block;

    text-align: left !important;

    font-size: x-large;

    margin: auto;
    margin-left: 1.5%;
    width: 100%;
}

.update_description_value {
    display: block;

    text-align: left !important;
    white-space: pre-line;

    margin-left: 2.5%;
    width: 100%;
}

.update_info_wrapper {
    text-align: center;
    display: flex;
}

.update_info_wrapper_left {
    text-align: left;
    justify-content: left;
    display: flex;
}

.update_info {
    background-color: #ededed;
    border-radius: 5px;

    width: 100%;
    height: auto;

    display: block;

    margin-bottom: 1%;
}

.update_info_item {
    margin-left: 1%;
    margin-right: 1%;

    width: 30%;

    justify-content: left;
}

.update_info_item_label{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: auto;
    margin-bottom: auto;

    vertical-align: baseline;

    font-size: 150%;
}

.update_info_item_value {
    width: auto;
    margin-top: auto;
    margin-bottom: auto;

    vertical-align: baseline;
    text-align: center;

    font-size: 150%;
}

.update_info_header {
    background-color: var(--mainColor);
    color: #ffffff;

    width: auto;
    height: 5%;
    justify-content: left;

    padding: 1%;

    border-radius: 5px;
}

.update_info_header:hover {
    background-color: var(--mainColorHover);
}

.project_updates_header {
    font-size: xx-large;
    font-weight: bold;

    justify-content: left;

    margin-left: 7.5%;
    margin-bottom: 1%;
}

.edit_form {
    width: 95%;

    margin: 0;
    margin-top: 5%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.edit_item_wrapper {

    width: 90%;

    margin: 0;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 2%;
}

.edit_item {
    margin-top: 1% !important;
}
.edit_item_value {
    display: block;

    --Edit_Item_Width: 95%;
    width: var(--Edit_Item_Width);

    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
}

.edit_item_label {
    font-weight: bold;
}

.edit_item_textarea {
    max-width: var(--Edit_Item_Width);
    min-width: var(--Edit_Item_Width);

    min-height: 4em;
}

.edit_form_submit_wrapper {
    height: 5%;

    margin-top: 2%;
}

.edit_form_sumbit_button {
    height: 90%;
    width: 85%;

    margin-top: auto !important;
    margin-bottom: auto !important;
}

.submit_button {
    background-color: var(--mainColor);
    color: var(--headerTextColor);

    border: 0;
    border-radius: 0.5em;
}

.submit_button:hover {
    background-color: var(--mainColorHover);
    color: var(--headerTextColorHover);
}