<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/Views/inc/style.css">
    <title>Document</title>
</head>

<body>

    <div class="header">
        <a class="header_item" href="/Projects.php">
            Projects
        </a>
    </div>

    <div class="project_info">
        <div class="project_info_name_and_image">
            <img src="/storage/Images/1.png" alt="project_image" class="project_image_medium">
            <div class="project_name_large">
                Project name
            </div>
        </div>
        <div class="project_description">
            Some description
        </div>
    </div>

    <div class="project_updates_wrapper">
        <div class="project_updates_container">
            <div class="update_info">
                <div class="update_info_wrapper update_info_header">
                    <div class="update_info_wrapper update_info_item">
    
                        <label class="update_info_item_label">Name:</label>
                        <div class="update_info_item_value">Laser update</div>
    
                    </div>
                    <div class="update_info_wrapper update_info_item">
    
                        <label class="update_info_item_label">Version:</label>
                        <div class="update_info_item_value">0.1</div>
    
                    </div>
                </div>
    
                <div>description</div>
            </div>
    
            <div class="update_info">
                <div class="update_info_wrapper update_info_header">
                    <div class="update_info_wrapper update_info_item">
    
                        <label class="update_info_item_label">Name:</label>
                        <div class="update_info_item_value">Laser update</div>
    
                    </div>
                    <div class="update_info_wrapper update_info_item">
    
                        <label class="update_info_item_label">Version:</label>
                        <div class="update_info_item_value">0.1</div>
    
                    </div>
                </div>
    
                <div>description</div>
            </div>
        </div>
    </div>

</body>

</html>