<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/Views/inc/style.css">
    <title>Document</title>
</head>

<body>

    <div class="header">
        <a class="header_item" href="/Projects.php">
            Projects
        </a>
    </div>

    <div class="project_info">
        <div class="project_info_name_and_image">
            <img src="/storage/Images/1.png" alt="project_image" class="project_image_medium">
            <div class="project_name_large">
                Project name
            </div>
        </div>
        <div class="project_description">
            Some description
        </div>
    </div>

    <div class="project_updates_wrapper project_updates_header">
        Updates: 
    </div>
    <div class="project_updates_wrapper">
        <div class="project_updates_container">
            <div class="update_info">
                <div class="update_info_wrapper update_info_header" onclick="ExpandUpdate(event)">
                    <div class="update_info_wrapper update_info_item">
    
                        <label class="update_info_item_label">Name:</label>
                        <div class="update_info_item_value">Laser update</div>
    
                    </div>
                    <div class="update_info_wrapper update_info_item">
    
                        <label class="update_info_item_label">Version:</label>
                        <div class="update_info_item_value">0.1</div>
    
                    </div>
                </div>
    
                <div class="update_description">description</div>
            </div>
        </div>
    </div>

    <script>
        var Headers = document.getElementsByClassName("update_info_header")
        var Descriptions = document.getElementsByClassName("update_description")
        for (let index = 0; index < Headers.length; index++) {
            const updateInfoHeader = Headers[index];
            updateInfoHeader.style.backgroundColor = "var(--mainColorSelected)"
        }

        for (let index = 0; index < Descriptions.length; index++) {
            const updateInfoDescription = Descriptions[index];

            updateInfoDescription.hidden = true
            updateInfoDescription.style.visibility = "hidden"
            updateInfoDescription.style.display = "none"
        }


        function ExpandUpdate(event)
        {
            var EventTarget = event.target
            
            var updateInfo = EventTarget.closest(".update_info")
            var updateInfoHeader = null;
            var updateInfoDescription = null;

            for (let index = 0; index < updateInfo.children.length; index++) {
                const element = updateInfo.children[index];
                if (element.className == "update_description") {
                    updateInfoDescription = element
                }
                else if (element.className == "update_info_wrapper update_info_header") {
                    updateInfoHeader = element
                }
            }

            if (updateInfoDescription && updateInfoHeader) {
                if (!updateInfoDescription.hidden) {
                    updateInfoDescription.hidden = true
                    updateInfoDescription.style.visibility = "hidden"
                    updateInfoDescription.style.display = "none"

                    updateInfoHeader.style.backgroundColor = "var(--mainColorSelected)"
                }
                else {
                    updateInfoDescription.hidden = false
                    updateInfoDescription.style.visibility = "visible"
                    updateInfoDescription.style.display = "initial"

                    updateInfoHeader.style.backgroundColor = null;
                }
            }
        }
    </script>
</body>

</html>